<div class="general">
<h1>Lista de nodos pendientes</h1>
<% pendientes.forEach(function(pendiente, i) { %>
  <div class="panel-group" id="panel<%= i %>">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse<%= i %>">
            <%= pendiente.ip %><span class="pull-right"><%= pendiente.date %></span>
          </a>
        </h4>
      </div>
      <div id="collapse<%= i %>" class="panel-collapse collapse">
        <div class="panel-body centered" id="panel_cuerpo<%= i %>">
          <div class="row">
            <div class="col-lg-12">                
                <table class="table table-bordered table-hover" id="tabla<%= i %>">
                    <thead>
                        <tr>
                            <th>Tipo sensor</th>
                            <th>Pins</th>
                            <th>Frecuencia</th>
                            <th style="width:10px"><button id="addBtn_0" onclick="AddRow(<%= i %>);" type="button" class="btn btn-success glyphicon-plus addBtn"></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="tb<%= i %>_0">
                            <td>
                              <select class="form-control">
                                <option value="0">Temperatura</option>
                                <option value="1">Humedad</option>
                                <option value="2">Luminosidad</option>
                              </select>
                            </td>
                            <td><input type="text" id="pins" class="form-control" /></td>
                            <td><input type="text" id="frec" class="form-control" /></td>
                            <td>
                            <button id="addBtnRemove_0" onclick="DeleteRow(<%= i %>,0);" type="button" class="btn btn-danger glyphicon-minus addBtnRemove"></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
          <button type="button" class="btn btn-danger btn-md" onclick="DeleteNodoPendiente('<%= pendiente.ip %>',<%= i %>);">
            <span class="glyphicon glyphicon-trash"></span> Eliminar
          </button>
          <button type="button" onclick="SendConfirmation(<%= i %>,'<%= pendiente.ip %>');" class="btn btn-success btn-md pull-right">
            <span class="glyphicon glyphicon-play"></span> Iniciar
          </button>
        </div>
      </div>
    </div>
  </div>
<% }); %>  
</div>