<hr id="sep">
<div class="panel panel-default">
    <div class="panel-heading">
    	IP: <strong><%= nodo.ip %></strong>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div id="estado_nodo" class="col-md-3">
            	<h4>Estado</h4><img id="load_estado" src="/img/load1.gif"/>

            </div>
            <div class="col-md-4">
            	<h4>Tiempo online</h4>
                <div id="countdown" class="countdownHolder reloj hide">
                    <script type="text/javascript">getTime("<%= nodo.date %>");</script>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
            	<h4>Acciones</h4>
                <button type="button" class="btn btn-primary buttonnode" onclick="ReiniciarNodo('<%= nodo.ip %>')" disabled="true">Reiniciar</button>
                <button type="button" class="btn btn-primary buttonnode" disabled="true">Pendiente</button>
                <button type="button" class="btn btn-danger buttonnode" onclick="DeleteNodo('<%= nodo.ip %>')">Eliminar</button>
            </div>
        </div> 
        <hr id="sep1">
        <div class="row">
            <div class="col-md-12">
                <h2>Lista de scripts</h2>
            </div>
        </div>
        <div class="row">
            <div id="scriptscontainer" class="col-md-12">
                <% nodo.scripts.forEach(function(script, i) { %>
                    <div id="<%= script.pid %>" class="panel panel-default script">
                        <div class="panel-heading">
                            <strong><%= script.tipo %></strong><span id="load_estado_<%= script.pid %>" class="loadscript pull-right"><img src="/img/load1_small.gif"/></span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-1 vcenter">
                                    <h5><strong>PID</strong></h5>
                                    <p id="pid_<%= script.pid %>"><%= script.pid %></p>
                                </div>
                                <div class="col-md-2 vcenter">
                                    <h5><strong>Frecuencia</strong></h5>
                                    <div class="input-group">
                                      <input id="frec_<%= script.pid %>"  class="form-control" type="number" name="frec" value="<%= script.frec %>">
                                      <span class="input-group-btn">
                                        <button id="act_frec_<%= script.pid %>" type="button" onclick="UpdateFrec('<%= nodo.ip %>', '<%= script.pid %>');" class="btn btn-info bt<%= script.pid %>" disabled="true">Actualizar</button>
                                      </span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-offset-1 vcenter">
                                    <h5><strong>Pin</strong></h5>
                                    <div class="input-group">
                                      <input id="pins_<%= script.pid %>" class="form-control" type="number" name="pins" value="<%= script.pin %>">
                                      <span class="input-group-btn">
                                        <button id="act_pins_<%= script.pid %>" type="button" class="btn btn-info bt<%= script.pid %>" onclick="UpdatePin('<%= nodo.ip %>', '<%= script.pid %>');" disabled="true">Actualizar</button>
                                      </span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-md-offset-2 vcenter">
                                    <h5><strong>Acciones</strong></h5>
                                    <button id="delete_<%= script.pid %>" type="button" class="btn btn-danger bt<%= script.pid %>" onclick='DeleteScriptNodo("<%= nodo.ip %>", "<%= script.pid %>");'>Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Añadir scripts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">                
                <table class="table table-bordered table-hover" id="tabla0">
                    <thead>
                        <tr>
                            <th>Tipo sensor</th>
                            <th>Pins</th>
                            <th>Frecuencia</th>
                            <th style="width:10px"><button id="addBtn_0" onclick="AddRow(0);" type="button" class="btn btn-success glyphicon-plus addBtn"></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="tb0_0">
                            <td>
                              <select class="form-control">
                                <option value="0">Temperatura</option>
                                <option value="1">Humedad</option>
                                <option value="2">Luminosidad</option>
                              </select>
                            </td>
                            <td><input type="number" id="pins" class="form-control" /></td>
                            <td><input type="number" id="frec" class="form-control" /></td>
                            <td>
                            <button id="addBtnRemove_0" onclick="DeleteRow(0,0);" type="button" class="btn btn-danger glyphicon-minus addBtnRemove"></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        <button type="button" onclick="AddScripts(0,'<%= nodo.ip %>');" class="btn btn-success btn-md pull-right">
            <span class="glyphicon glyphicon-play"></span> Iniciar
        </button>
     </div>
    <!-- /.panel-body -->
</div>